<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>My Page</title>
    <link rel="stylesheet" href="../../assets/styles/myPage.css">
    <script defer src="../../assets/scripts/myPage.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>

<div class="container">

    <header>
        <button class="headerBtn">←</button>
        <h2>My Page</h2>
        <button class="headerBtn">⚙</button>
    </header>

    <div class="top">

        <div class="profile">
            <div class="avatar"></div>
            <p class="points">☕ 4583</p>
        </div>

        <div class="goals" id="goals"></div>

    </div>

    <div class="calendar-header">
        <button class="calendarBtn" onclick="changeMonth(-1)">«</button>
        <h3 id="month"></h3>
        <button class="calendarBtn" onclick="changeMonth(1)">»</button>
    </div>

    <div class="calendar" id="calendar"></div>

    <div class="stats">
        <h3>월간 공부 통계</h3>
        <canvas id="chart"></canvas>
    </div>

</div>

</body>
</html>